.clearfix::after{display:table;content:"";clear:both;}
.formobile{display:none;}

.wrapper{width:100%;min-height:100%;position:relative;overflow:hidden;}
.page-content{left:0;position:relative;z-index:1;-webkit-transition-duration:0.5s;-o-transition-duration:0.5s;-moz-transition-duration:0.5s;transition-duration:0.5s;}
#top_menu{width:255px;font:20px 'Arial', serif;background-color:#fff;padding:0px;border-top:1px solid #e9eaec;border-bottom:1px solid #e9eaec;border-left:1px solid #e9eaec; position:relative;
}
#top_menu_container{box-sizing:border-box;width:100%;font:20px 'Arial', serif;position:absolute;z-index:200;padding:0px;top:163px;display:none;}
#top_menu.active{display:block;}
#top_menu_container.active{display:block; }

#top_menu .second.active{display:block;}
#top_menu .third.active{display:block;}
#top_menu .one:link, #top_menu .one:visited{font:16px 'Arial', serif;color:#333333;display:block;text-decoration:none;line-height:20px;padding:10px 4rem 10px 2.1rem;position:relative;margin-left:0px;min-height:40px;border-right:1px solid #e9eaec;}
#top_menu .one:hover{color:#ed1c24;border-right:1px solid #fff;line-height:20px;}
#top_menu .one.drop_down:before{content:" ";background:url(/img/point_right.png) no-repeat top;height:16px;width:11px;speak:none;font-style:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-text-stroke:.2px;position:absolute;top:50%;right:1rem;margin:-8px 0 0;z-index:500;}
#top_menu .one.drop_down:hover:before{background-position:bottom;}
#top_menu .second{position:absolute;left:254px;top:0;width:725px;min-height:500px;display:none;padding:5% 2% 5% 10%;background-color:#fff;margin-top:0px;border-top:1px solid #e9eaec;border-right:1px solid #e9eaec;border-bottom:1px solid #e9eaec;}
#top_menu .second_in{width:30.3%;margin-right:3%;margin-bottom:10px;float:left;}
#top_menu .second_a:link, #top_menu .second_a:visited{font:14px 'Arial', serif;color:#333333;display:block;text-decoration:none;line-height:20px;font-weight:bold;border-bottom:1px solid #e9eaec;padding:5px 0;}
#top_menu .third{display:block;margin-top:10px;}
#top_menu .third_a:link, #top_menu .third_a:visited{font:13px 'Arial', serif;font-weight:normal;display:block;margin-bottom:5px;color:#000;}
#top_menu .active:link, #top_menu .active:visited{font:16px 'Arial', serif;color:#333333;display:block;text-decoration:none;border-top:1px solid #e9eaec;border-bottom:1px solid #e9eaec;border-right:1px solid #fff;position:relative; line-height:20px;}
#top_menu .active:hover{color:#ed1c24;/*border-right:1px solid #fff;*/}
#top_menu .drop_down.active:before{background:none;}
#top_menu .active:after{content:'';position:absolute;bottom:-8px;left:1.4rem;width:0;height:0;z-index:2;}


@media screen and (max-width:1000px){
	.menu-catalog-big{ display:none !important;}
.page-content.move_right{left:252px;-webkit-transition-duration:0.5s;-o-transition-duration:0.5s;-moz-transition-duration:0.5s;transition-duration:0.5s;}	
	.formobile{display:block;}
#top_menu{top:0px;min-height:100%;right:auto;position:relative;display:block;box-shadow:inset -3px 0 7px #cacaca;}
#top_menu_container{left:-252px;top:0px;min-height:100%;right:auto;position:absolute;z-index:11;display:block;width:255px;}
#top_menu_container .container{padding:0px;}
#top_menu .second{position:relative;left:0;top:none;width:100%;padding:0;margin-bottom:0;min-height:inherit;box-shadow:inset -3px 0 7px #cacaca;border-right:none;}
#top_menu .second_in{width:100%;margin-right:0;float:none;}
#top_menu .third{display:none;}
#top_menu .active:link, #top_menu .active:visited{background:#e9eaec;font:16px 'Arial', serif;color:#333333;display:block;text-decoration:none;line-height:20px;font-weight:bold;border-bottom:1px solid #e9eaec;border-right:none;position:relative;}
#top_menu .active:hover{color:#ed1c24;border-right:none;}
#top_menu .drop_down.active:before{background:none;}
#top_menu .one.active:after{content:'';position:absolute;bottom:-10px;left:1.4rem;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:7px solid #e9eaec;z-index:2;}
#top_menu .second_a:link, #top_menu .second_a:visited{position:relative;padding:10px 10px 10px 2.5em;font-weight:normal !important;}
#top_menu .second_a:after{border-left:8px solid transparent;border-right:8px solid transparent;border-top:7px solid #e9eaec;}
#top_menu .third_a:link, #top_menu .third_a:visited{font:14px 'Arial', serif;font-weight:normal;display:block;margin-bottom:0px;color:#000;padding:9px 10px 9px 2.5em;}
#top_menu .third{margin-top:0px;border-bottom:1px solid #e9eaec;}
#top_menu .second{margin-top:0px;}
#top_menu .second_in{margin-bottom:0px;}
#top_menu .drop_down:before{content:" ";background:url(/img/point_right.png) no-repeat top;height:16px;width:11px;speak:none;font-style:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-text-stroke:.2px;position:absolute;top:50%;right:1rem;margin:-8px 0 0;}
#top_menu .drop_down:hover:before{background-position:bottom;}
.plus-product .col60, .plus-product .col40{
	width:100%;
	}
.plus-product .col60{
	text-align:center;
	}
}
@media screen and (max-width:768px){
	.small_i{ display:none;}
}




/* Базовый контейнер табов */

.tabs {
	min-width: 270px;
	max-width: 100%;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */

.tabs > section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}

.tabs > section > p {
	margin: 0 0 5px;
	line-height: 1.5;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Прячем чекбоксы */

.tabs > input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */

.tabs > label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */

.tabs > label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

.tabs > label[for*="text"]:before {
	content: "\f039";
}

.tabs > label[for*="har"]:before {
	content: "\f00b";
}

.tabs > label[for*="video"]:before {
	content: "\f16a";
}

.tabs > label[for*="gallery"]:before {
	content: "\f03e";
}
.tabs > label[for*="instr"]:before {
	content: "\f05a";
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs > label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */

.tabs > input:checked + label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */

#tab_text:checked ~ #content-tab_text,
#tab_har:checked ~ #content-tab_har,
#tab_video:checked ~ #content-tab_video,
#tab_instr:checked ~ #content-tab_instr,
#tab_gallery:checked ~ #content-tab_gallery {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
	.tabs > label {
		font-size: 0;
	}
	.tabs > label:before {
		margin: 0;
		font-size: 24px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/

@media screen and (max-width: 400px) {
	.tabs > label {
		padding: 15px;
	}
}

.videoWrapper{
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
 
.videoWrapper iframe,.videoWrapper object, .videoWrapper embed{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


#f_order {
    padding: 20px;
    background: #f8f8f8;
}
#f_order .fotoS {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 0 0;
    border: none;
    width: 180px;
    text-align: center;
}
#f_order .fotoS img {
    width: 180px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #e8e8e8;
}
#f_order .filedsSet {
    float: none;
    width: 280px;
    vertical-align: top;
    display: inline-block;
}
.clearfix {
    clear: both;
    float: none;
}



#shadow{position:fixed; z-index:2000; top:0; width:100%; height:100%; background:#000; opacity:0.9; display:none}
#res_dialog,#res_basket, #callback_form, .wdialog{position:absolute; top:10%; width:100%; display:none; z-index:3000}
#callback_form{position:fixed; top:30%; width:100%; display:none; z-index:3000}
/*#res_text{background-color:#FFF; border:2px solid #999; padding:30px; width:560px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px}*/

#callback_text{background-color:#FFF; border:2px solid #999; padding:30px; width:730px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px}
.window{width:933px; background-color:#fff; box-shadow:0 0 30px #fff; margin:0 auto; font:18px ,serif; color:000000; line-height:26px}
.window2{width:397px; background-color:#fff; box-shadow:0 0 30px #fff; margin:0 auto; font:18px ,serif; color:000000; line-height:26px; padding:20px 10px 10px 10px;}

#res_dialog .div_input{
	margin:0 auto;
	position:relative;
	}
.wdialog .div_input{
	margin:0 auto;
	position:relative;
	
	background-color:#fff;
	width:300px;
	text-align:center;
	padding:30px 20px 20px 20px;
	box-sizing:border-box;
	
	box-shadow:0 0px 30px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 0px 30px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0px 30px  rgba(0, 0, 0, 0.3);
	margin:0 auto;

	

	}
.white{color:#fff;}	
.wdialog .input-lg{ margin-bottom:10px;}	
.wdialog .name_form{
	margin-bottom:20px;
	color:#000;
	line-height:20px;
	font-size:22px;	
	}

.wdialog .input{
	width:100%;
	margin-bottom:10px;
	height:40px;
	}
.close{
	position:absolute;	
	z-index:10;
	margin:-50px -20px 0 0;
	right:0;
	}
#popup_div .application{
	background-color:#083372;
	width:299px;
	text-align:center;
	padding:30px 20px 20px 20px;
	box-sizing:border-box;
	font-size:26px;	
	box-shadow:0 0px 30px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 0px 30px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0px 30px  rgba(0, 0, 0, 0.3);
	margin:0 auto;
	color:#fff;
	line-height:35px;
}
	
.anim, .anim2{visibility: hidden; max-width:800px;}	
.error{ border:solid 2px red !important; outline:none !important;}
.error:focus{ border:solid 2px red !important; outline:none !important;}

#dop_contacts{ display:none; padding:15px; background:#fff; border:solid 1px #ccc; position:absolute; z-index:20;}